# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Logs
*.log
mconnect.log

# Build Artifacts
build/
dist/
*.spec
backend/build/
backend/dist/
backend/*.spec

# Node
node_modules/
dist-electron/
release/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
